
.nav{
    background-color: #7373b5;
    
}
.nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 15px;
}
.nav.li{
    float: left;
    padding: 12px;
}
.nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
}